/* HEADER START */

.navigation-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: min-content;
}

@media screen and (max-width: 600px) {
  #navbar {
    flex-direction: column;
  }

  .title-header > h1 {
    margin-top: 45%;
    font-size: 37px;
    margin-left: 12%;
  }

  .title-header > h5 {
    margin-left: 8%;
  }
}
#navbar {
  gap: 10px;
  display: flex;
  justify-content: flex-end;
  padding: 15px;
  margin-right: 0;
  margin-top: -10px;
  margin-left: -10px;
  max-height: 100%;
  border-radius: 2px;
  width: 99%;
  background-color: rgb(95, 201, 243);
  position: fixed;
}
.navigation-header .navigation #navbar .logo-navbar {
  margin-right: 72%;
  border-radius: 50%;
}
.navigation a {
  text-decoration: none;
  padding: 10px;
  font-size: 14sp;
  color: rgb(0, 0, 0);
  border: 0 solid;
  border-radius: 3px;
  font-family: Arial, Helvetica, sans-serif;
  flex-direction: row;
}

.navigation a:hover {
  background-color: rgba(222, 219, 219, 0.673);
  transition: 0.1s ease-in-out;
  cursor: pointer;
}

.title-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 6%;
}

.title-header > h1 {
  color: rgb(42, 55, 54);
}

.title-header > h5 {
  margin-top: 0.1%;
  color: rgb(108, 108, 108);
  font-family: Arial, Helvetica, sans-serif;
}

/* HEADER END */

/* MAIN START */

body {
  background: url(../asets/bckground2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.div-main {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 1%;
}

.review-section {
  flex-basis: 60%;
  flex-grow: 0;
}

.button-img > .button-img1 {
  display: flex;
  margin-left: 17%;
  margin-top: -25%;
}

.button-img > .button-img2 {
  display: flex;
  margin-left: 90.65%;
  margin-top: -3.8%;
}
.review-section img {
  max-width: 100%;
  max-height: 100%;
  height: 80%;
  width: 70%;
  margin-left: 20%;
  border-radius: 8px;
  border: 2px solid rgba(73, 255, 194, 0.473);
}

.h4-review {
  margin-left: 20%;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(42, 55, 54);
  margin-top: 25%;
}
.message-us {
  flex-basis: 25%;
  flex-grow: 0;
  background-color: rgba(206, 113, 113, 0.81);
  border-radius: 8px;
  margin-right: 10%;
  height: 550px;
}
.message-us:hover {
  animation: animate 3s linear infinite;
}

@keyframes animate {
  100% {
    filter: hue-rotate(360deg);
  }
}

.h2-message {
  padding-left: 28px;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 20px;
}

.h5-message {
  padding-left: 28px;
  padding-right: 28px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(15, 7, 7, 0.814);
}

.input-message-us {
  display: flex;
  flex-direction: column;
  padding: 28px;
  padding-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.name-input,
.email-input,
select {
  margin-top: 5px;
  padding: 10px;
}
.input-message-us > .name-input {
  border-radius: 5px;
  border: 2px solid rgba(49, 203, 152, 0.81);
}

.input-message-us > .email-input {
  border-radius: 5px;
  border: 2px solid rgba(49, 203, 152, 0.81);
}

select {
  border-radius: 5px;
  width: 100%;
  border: 2px solid rgba(49, 203, 152, 0.81);
}

.option-select {
  color: gray;
}

.send-button {
  background-color: rgb(46, 46, 96);
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin-top: 5%;
}

.send-button:hover {
  background-color: rgba(39, 189, 67, 0.673);
  transition: 0.1s ease-in-out;
  cursor: pointer;
}

.people {
  display: flex;
}

.people > img {
  float: left;
  margin-left: 12%;
  margin-top: -5%;
  border-radius: 50%;
  border: 1px solid rgb(191, 195, 198);
}

.h5-people {
  margin-left: 1%;
  margin-top: -4.5%;

  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif,
    Helvetica, sans-serif;
  color: rgb(42, 55, 54);
}

.h6-people {
  margin-left: -160%;
  margin-top: -60%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgb(8, 8, 8);
}

.promo {
  gap: 10px;
}
.promo > h2 {
  margin-left: 11%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: rgb(42, 55, 54);
}

.img-promo1 {
  gap: 10px;
  margin-left: 11%;
}

.img-promo1:hover {
  cursor: pointer;
}

.img-promo2 {
  height: 178px;
}

.img-promo2:hover {
  cursor: pointer;
}

.img-promo3 {
  margin-left: 11%;
  height: 180px;
}

.img-promo3:hover {
  cursor: pointer;
}

.img-promo4 {
  height: 200px;
}

.container-page1 > h1 {
  gap: 10px;
  display: flex;
  justify-content: center;
  padding: 40px;
  margin-left: -10px;
  max-height: 100%;
  border-radius: 2px;
  width: 99%;
  background-color: rgba(84, 184, 255, 0.704);
}

.div-package {
  margin-top: 6%;
}
.package {
  margin-left: 5%;
  padding: 10px;
  background-image: url(../asets/koreaoutpackage.jpg);
  background-size: cover;
  background-position: center;
  width: 300px;
  height: 200px;
  border-radius: 8px;
}

.package2 {
  margin-left: 40%;
  margin-top: -15%;
  padding: 10px;
  background-image: url(../asets/australia.jpg);
  background-size: cover;
  background-position: center;
  width: 300px;
  height: 200px;
  border-radius: 8px;
}

.package3 {
  margin-left: 73%;
  margin-top: -14.6%;
  padding: 10px;
  background-image: url(../asets/DEPOK.jpg);
  background-size: cover;
  background-position: center;
  width: 300px;
  height: 200px;
  border-radius: 8px;
}

.package4 {
  margin-left: 22%;
  margin-top: 8%;
  padding: 10px;
  background-image: url(../asets/hollywood.jpg);
  background-size: cover;
  background-position: center;
  width: 300px;
  height: 200px;
  border-radius: 8px;
}

.package5 {
  margin-left: 56%;
  margin-top: -15%;
  padding: 10px;
  background-image: url(../asets/greenland.jpeg);
  background-size: cover;
  background-position: center;
  width: 300px;
  height: 200px;
  border-radius: 8px;
}

.package6 {
  margin-left: 73%;
  margin-top: -14.6%;
  padding: 10px;
  background-color: rgba(253, 254, 255, 0.821);
  width: 300px;
  height: 200px;
  border-radius: 8px;
}
/* MAIN END */

/* FOOTER START */

footer h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 10%;
  color: rgb(0, 0, 0);
  text-shadow: 1px 2px 2px grey;
}
.footer-button {
  background-color: rgb(46, 46, 96);
  color: white;
  padding: 20px;
  border-radius: 5px;
  justify-content: center;
  width: 300px;
  margin-left: 40%;
  margin-top: 2%;
}

.footer-button:hover {
  background-color: rgba(39, 189, 67, 0.673);
  transition: 0.1s ease-in-out;
  cursor: pointer;
  animation: animate 3s linear infinite;
}
/* FOOTER END */
